@import '../libs/neat/neat-helpers';

$column: $rms3 ; // Column width
$gutter: $rms-2 ; // Gutter between each two columns
$grid-columns: 12 ; // Total number of columns in the grid
$max-width: 1500px; // rem(modular-scale($ms-base-1 $ms-base-2, 17, $ms-ratio)) ; // Max-width of the outer container
$border-box-sizing: true ; // Makes all elements have a border-box layout
$default-feature: min-width; // Default @media feature for the breakpoint() mixin
$default-layout-direction: LTR ;

$visual-grid: false ; // Display the base grid
$visual-grid-color: #E6F6FF ;
$visual-grid-index: front; // Show grid behind content (back) or overlay it over the content (front)
// $visual-grid-opacity: 0.4 !default;
// $visual-grid-breakpoints: () !default;

// ============= Breakpoints ================

$portrait : orientation portrait; //	Phone-sizes devices in portrait mode
$landscape : orientation landscape; // Phone-sizes devices in landscape mode

$break-small : 680px ;
$break-medium : 1055px ;
// $break-large : 1900px ;

$cols-small : 11;
$cols-medium : 12 ;
$cols-large : 12;

$media-small : new-breakpoint(max-width $break-small $cols-small); 
$media-medium : new-breakpoint(min-width $break-small max-width $break-medium $cols-medium); 
$media-large : new-breakpoint(min-width $break-medium $cols-large); 
$media-medium-up : new-breakpoint(min-width $break-small ); 
$media-large-up : new-breakpoint(min-width $break-medium ); 
