* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

@-webkit-keyframes loader {
  0% {
    left: 0%;
    right: 100%; }

  50% {
    left: 0%;
    right: 0%; }

  100% {
    left: 100%;
    right: 0%; } }
@-moz-keyframes loader {
  0% {
    left: 0%;
    right: 100%; }

  50% {
    left: 0%;
    right: 0%; }

  100% {
    left: 100%;
    right: 0%; } }
@keyframes loader {
  0% {
    left: 0%;
    right: 100%; }

  50% {
    left: 0%;
    right: 0%; }

  100% {
    left: 100%;
    right: 0%; } }
@-webkit-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-moz-keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@keyframes fadein {
  from {
    opacity: 0; }

  to {
    opacity: 1; } }
@-webkit-keyframes slidein {
  from {
    position: relative;
    left: 100%; }

  to {
    position: relative;
    left: 0; } }
@-moz-keyframes slidein {
  from {
    position: relative;
    left: 100%; }

  to {
    position: relative;
    left: 0; } }
@keyframes slidein {
  from {
    position: relative;
    left: 100%; }

  to {
    position: relative;
    left: 0; } }
/**
 * html5doctor.com Reset Stylesheet v1.6.1
 * (http://html5doctor.com/html-5-reset-stylesheet/)
 * Richard Clark (http://richclarkdesign.com)
 * http://cssreset.com
 * 
 * Modified by @keeganiden for lillo.me
 */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, abbr, address, cite, code, del, dfn,
em, img, ins, kbd, q, samp, small, strong, sub, sup,
var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article,
aside, canvas, details, figcaption, figure, footer, header, hgroup,
menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

body {
  line-height: 1; }

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

nav ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent; }

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none; }

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold; }

del {
  text-decoration: line-through; }

abbr[title], dfn[title], acronym[title] {
  border-bottom: 1px dotted;
  cursor: help; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #dddddd;
  margin: 1em 0;
  padding: 0; }

input, select {
  vertical-align: middle; }

/* Base Styles */
html, body {
  font-family: "Source Sans Pro", "Lucida Grande", Tahoma, Verdana, Arial, sans-serif;
  font-size: 17px;
  line-height: 1.52811rem;
  font-weight: 300;
  background: #ededed;
  color: #4f4f4f; }

h1, h2 {
  font-size: 1.94376rem;
  line-height: 2.47248rem;
  font-weight: 400;
  margin-top: 0.94444rem; }

h3 {
  font-size: 1.52811rem;
  line-height: 1.94376rem;
  font-weight: 400;
  margin-top: 0.74248rem; }

h4 {
  font-size: 1.20133rem;
  line-height: 1.52811rem;
  font-weight: 400;
  margin-top: 0.58371rem; }

h5 {
  font-size: 0.94444rem;
  line-height: 1.20133rem;
  font-weight: 400; }

h6 {
  font-size: 0.74248rem;
  line-height: 0.94444rem;
  font-weight: 400; }

p {
  padding-top: 0.45889rem;
  padding-bottom: 0.45889rem; }

ol, ul {
  padding-left: 1.52811rem;
  padding-top: 0.45889rem;
  padding-bottom: 0.45889rem; }

pre {
  white-space: pre-wrap; }

a {
  cursor: pointer; }

.hide {
  display: none; }

#main-loader {
  position: fixed;
  top: 0;
  height: 5px;
  z-index: 9999;
  -webkit-animation: loader 2s ease-in-out infinite;
  -moz-animation: loader 2s ease-in-out infinite;
  animation: loader 2s ease-in-out infinite; }
  .route-index #main-loader {
    background-color: #4f4f4f; }
  .route-who #main-loader {
    background-color: #2aa316; }
  .route-what #main-loader {
    background-color: #3f9fe0; }
  .route-where #main-loader {
    background-color: #dd482e; }

.region-wrap {
  animation: fadein 1s; }

a {
  color: inherit;
  text-decoration: none;
  outline: none; }
  a:hover {
    text-decoration: none; }
    .route-index a:hover {
      color: #4f4f4f; }
    .route-who a:hover {
      color: #2aa316; }
    .route-what a:hover {
      color: #3f9fe0; }
    .route-where a:hover {
      color: #dd482e; }

#main-main {
  margin: 1.20133rem 0.58371rem; }
  #main-main .region-wrap {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto; }
    #main-main .region-wrap:after {
      content: "";
      display: table;
      clear: both; }
    #main-main .region-wrap section {
      margin-top: 0.94444rem; }
      @media screen and (max-width: 680px) {
        #main-main .region-wrap section {
          float: left;
          display: block;
          margin-right: 2.14454%;
          width: 100%; }
          #main-main .region-wrap section:last-child {
            margin-right: 0; }
          #main-main .region-wrap section:nth-child(1n) {
            margin-right: 0; }
          #main-main .region-wrap section:nth-child(1n+1) {
            clear: left; } }
      @media screen and (min-width: 681px) and (max-width: 1055px) {
        #main-main .region-wrap section {
          float: left;
          display: block;
          margin-right: 1.96232%;
          width: 49.01884%; }
          #main-main .region-wrap section:last-child {
            margin-right: 0; }
          #main-main .region-wrap section:nth-child(2n) {
            margin-right: 0; }
          #main-main .region-wrap section:nth-child(2n+1) {
            clear: left; } }
      @media screen and (min-width: 1056px) {
        #main-main .region-wrap section {
          float: left;
          display: block;
          margin-right: 1.96232%;
          width: 32.02512%; }
          #main-main .region-wrap section:last-child {
            margin-right: 0; }
          #main-main .region-wrap section:nth-child(3n) {
            margin-right: 0; }
          #main-main .region-wrap section:nth-child(3n+1) {
            clear: left; } }
      #main-main .region-wrap section .content {
        box-shadow: 1px 1px 0px 0px #dddddd, -1px 1px 0px 0px #dddddd, 1px 2px 0px 0px #dddddd, -1px 2px 0px 0px #dddddd;
        height: 100%;
        background: #f7f7f7;
        padding: 0.74248rem 0.74248rem 1.20133rem;
        position: relative; }
        #main-main .region-wrap section .content :first-child {
          padding-top: 0;
          margin-top: 0; }
      #main-main .region-wrap section img {
        max-width: 100%; }

#main-header .region-wrap {
  text-align: center;
  vertical-align: middle;
  margin: 0 auto;
  max-width: 27.41739rem;
  padding: 1.52811rem; }

#logo {
  cursor: pointer;
  display: inline-block;
  position: relative;
  width: 100%;
  padding-bottom: 33%;
  vertical-align: middle;
  /* top | middle | bottom ... do what you want */ }
  #logo svg.logo {
    height: 100%;
    width: 100%;
    display: block;
    position: absolute;
    top: 0;
    left: 0; }
    .route-index #logo svg.logo {
      fill: #4f4f4f; }
    .route-who #logo svg.logo {
      fill: #2aa316; }
    .route-what #logo svg.logo {
      fill: #3f9fe0; }
    .route-where #logo svg.logo {
      fill: #dd482e; }

.route-index #main-header {
  position: absolute;
  right: 0;
  bottom: 50%;
  left: 0;
  margin-bottom: 2.5rem; }

#main-nav .region-wrap {
  padding-top: 0;
  position: relative;
  z-index: 100; }
#main-nav .nav {
  background: #f7f7f7;
  border-bottom: 1px solid #dddddd;
  font-size: 1.20133rem;
  line-height: 1.52811rem;
  width: 100%; }
  #main-nav .nav.fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
    box-shadow: 0px 0px 10px 3px #999; }
#main-nav ul {
  max-width: 1500px;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
  text-align: center; }
  #main-nav ul:after {
    content: "";
    display: table;
    clear: both; }
  #main-nav ul li {
    position: relative;
    top: 1px;
    padding: 0;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: transparent; }
    @media screen and (max-width: 680px) {
      #main-nav ul li {
        float: left;
        display: block;
        margin-right: 2.14454%;
        width: 25.71306%; }
        #main-nav ul li:last-child {
          margin-right: 0; }
        #main-nav ul li:first-child {
          margin-left: 9.28587%; } }
    @media screen and (min-width: 681px) and (max-width: 1055px) {
      #main-nav ul li {
        float: left;
        display: block;
        margin-right: 1.96232%;
        width: 15.0314%;
        margin-left: 8.49686%; }
        #main-nav ul li:last-child {
          margin-right: 0; }
        #main-nav ul li:first-child {
          margin-left: 16.99372%; } }
    @media screen and (min-width: 1056px) {
      #main-nav ul li {
        float: left;
        display: block;
        margin-right: 1.96232%;
        width: 15.0314%; }
        #main-nav ul li:last-child {
          margin-right: 0; }
        #main-nav ul li:first-child {
          margin-left: 25.49058%; } }
    .route-index #main-nav ul li.nav__item--index {
      border-bottom-color: #4f4f4f; }
    .route-who #main-nav ul li.nav__item--who {
      border-bottom-color: #2aa316; }
    .route-what #main-nav ul li.nav__item--what {
      border-bottom-color: #3f9fe0; }
    .route-where #main-nav ul li.nav__item--where {
      border-bottom-color: #dd482e; }
    #main-nav ul li a {
      padding: 0.45889rem 0.74248rem;
      display: inline-block;
      width: 100%;
      outline: none; }
      .route-index #main-nav ul li a {
        color: #4f4f4f; }
      .route-who #main-nav ul li a {
        color: #2aa316; }
      .route-what #main-nav ul li a {
        color: #3f9fe0; }
      .route-where #main-nav ul li a {
        color: #dd482e; }
      #main-nav ul li a:hover {
        text-decoration: none;
        border-bottom-width: 1px; }
#main-nav .fixed-placeholder {
  height: 0; }

.route-index #main-nav {
  position: absolute;
  right: 0;
  bottom: 50%;
  left: 0;
  margin-bottom: -1.3rem; }

.portfolio-container {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -moz-box-orient: horizontal;
  box-orient: horizontal;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  flex-direction: row;
  -ms-flex-direction: row;
  -webkit-box-lines: multiple;
  -moz-box-lines: multiple;
  box-lines: multiple;
  -webkit-flex-wrap: wrap;
  -moz-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
@inlude media(min-width 681px 12) {}
  .portfolio-container .image-holder img {
    box-shadow: 1px 1px 0px 0px #dddddd, -1px 1px 0px 0px #dddddd, 1px 2px 0px 0px #dddddd, -1px 2px 0px 0px #dddddd;
    display: block; }
  .portfolio-container .expanded-content {
    display: none; }
  .portfolio-container .expand-btn {
    padding-top: 1.20133rem;
    display: block;
    position: absolute;
    right: 0.74248rem;
    bottom: 1.20133rem;
    left: 0.74248rem; }
    .portfolio-container .expand-btn.closed:before {
      height: 0;
      width: 0;
      border-left: 0.76406rem solid transparent;
      border-right: 0.76406rem solid transparent;
      border-top: 0.76406rem solid #3f9fe0;
      content: " ";
      display: block;
      margin: 0 auto; }
    .portfolio-container .expand-btn.open:before {
      height: 0;
      width: 0;
      border-left: 0.76406rem solid transparent;
      border-right: 0.76406rem solid transparent;
      border-bottom: 0.76406rem solid #3f9fe0;
      content: " ";
      display: block;
      margin: 0 auto; }

/*# sourceMappingURL=app.css.map */
