
<div class="group contact">
	<h1 class="section-head">Where to find me</h1>
	<section>
		<div class="content">
			<h4>Email me at <em><a href="mailto:keegan@lillo.me" target="_blank">keegan@lillo.me</a></em></h4>
			<h4>Call me in the USA <em><a href="tel:+14157896163" target="_blank">(415) 789-6163</a></em></h4>
			<h4>Call me in Australia <em><a href="tel:+61400108232" target="_blank">0400 108 232</a></em></h4>
		</div>
	</section>
</div>

<div class="group">
	<h2 class="section-head">Connect with me on</h2>
	<section>
		<div class="content social-image-group">
			<a class="linkedin social-image" href="https://www.linkedin.com/pub/keegan-lillo/33/59b/7bb" title="Linkedin" target="_blank">
				<img src="src/img/where/linkedin.svg" alt="Linkedin" />
			</a>
			
			<a class="stackexchange social-image" href="http://stackexchange.com/users/3880729/keeganiden?tab=accounts" title="Stack Exchange" target="_blank"> 
				<img src="src/img/where/stackexchange.svg" alt="Stack Exchange" />
			</a>
			
			<a class="github social-image" href="https://github.com/keegan-lillo" title="Github" target="_blank">
				<img src="src/img/where/github.svg" alt="Github" />
			</a>
			
			<a class="twitter social-image" href="https://twitter.com/keeganiden" title="Twitter" target="_blank">
				<img src="src/img/where/twitter.svg" alt="Twitter" />
			</a>
		</div>
	</section>
</div>