<section>
	<div class="content">
		<h1>Who am I?</h1>
		<p>
			<img src="src/img/chewbies-video-encoder.svg" />
		</p>
	</div>
</section>

<section>
	<div class="content">
		<h1>Who am I?</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat orci sit amet purus accumsan rutrum.
			Integer pharetra, dolor id iaculis condimentum, purus est vehicula nisi, sed accumsan mi nisl quis metus. 
			Curabitur rutrum diam quis velit malesuada, in aliquet velit adipiscing. Mauris accumsan eleifend diam et. 
			Donec quis justo pellentesque leo luctus tempus. Morbi ornare convallis ante, vestibulum laoreet lacus dapibus ut.
		</p>
	</div>
</section>

<section>
	<div class="content">
		<h1>Who am I?</h1>
		<p>
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla feugiat orci sit amet purus accumsan rutrum.
			Integer pharetra, dolor id iaculis condimentum, purus est vehicula nisi, sed accumsan mi nisl quis metus. 
			Curabitur rutrum diam quis velit malesuada, in aliquet velit adipiscing. Mauris accumsan eleifend diam et. 
			Donec quis justo pellentesque leo luctus tempus. Morbi ornare convallis ante, vestibulum laoreet lacus dapibus ut.
		</p>
	</div>
</section>