<h1 class="section-head">Who I am</h1>
<div class="group">
	<section>
		<div class="content">
			<p>
				Hi there.  <br />
				I'm Keegan, a full stack developer with a focus on application architecture.
			</p>
			<p>
				 
				I'm a Certified AWS Solutions Architect that loves to make front-end development come alive with cloud infrastructure.
			</p>
		</div>
	</section>
	
	<section>
		<div class="content">
			<h3>My Best Friends</h3>
			<ul>
				<li>Amazon Web Services</li>
				<li>PHP, Codeigniter, MySQL</li>
				<li>Marionette, Backbone.js, RequireJS, jQuery</li>
				<li>HTML5, CSS3, Sass, LESS</li>
				<li>Social Media APIs</li>
				<li>RESTful APIs and API driven web apps</li>
				<li>Bower, Git, Command Line</li>
			</ul>
		</div>
	</section>
</div>

<h2 class="section-head">Experience</h2>
<div class="group">
	<section>
		<div class="content">
			<h3>Lead Developer, <small></small></h3>
			<h5>Online Circle Digital <em>Dec 2011 - Mar 2014</em></h5>
			<p>Online Circle Digital is a Melbourne based digital agency servicing large brands from a wide range of industries including, automotive, department stores, snack foods, pets, grocery and television. Here, I managed our cloud infrastructure (AWS) and lead the development of internal projects including our social media automation tool, Social Pulse™.</p>
			<h4>Responsibilities:</h4>
			<ul>
				<li>Design and manage fault tolerant web infrastructure</li>
				<li>Write daemon processes to consume and store millions of data points from social media APIs</li>
				<li>Lead the development of internal projects</li>
				<li>Mentor junior developers</li>
				<li>Attend some client meetings to provide technical insight</li>
				<li>Program for a range of back and front end environments</li>
				<li>Participate in agile project management</li>
			</ul>
		</div>
	</section>
	
	
	<section>
		<div class="content">
			<h3>Lead Developer</h3>
			<h5>Creative Brew <em>Mar 2011 - Oct 2012</em></h5>
			
			<p>Creative Brew is a digital agency in Melbourne specializing in design and marketing strategy. Creative Brew cater for creative outcomes across a wide range of mediums including print, web and signage. During my time at Creative Brew, I was responsible for all web outcomes. It was my role to decide what technology we used as well as execute the designs provided by the creative team into functional websites.</p>
	
			<h4>Responsibilities:</h4>
			<ul>
				<li>Make decisions on appropriate technology to use</li>
				<li>Attend some client meetings to provide technical insight</li>
				<li>Work with Wordpress and MODx to create highly customized websites for clients</li>
				<li>Provide creative team with recommendations on technical possibilities</li>
			</ul>
	
		</div>
	</section>
</div>

<h2 class="section-head">Certifications &amp; Education</h2>
<div class="group">
	<section>
		<div class="content">
			<h4>AWS Certified Solutions Architect - Associate Level</h4>
			<p>Jan 2014 – Present</p>
		</div>
	</section>
	
	<section>
		<div class="content">
			<h4>Bachelor of Multimedia and Digital Art</h4>
			<h5>Monash University</h5>
			<p>3 year degree (2008 – 2010)</p>
		</div>
	</section>

</div>