/* Base Styles */


// * { @include box-sizing(border-box); }

html, body
{
	font-family : $font-family;
	font-size: $base-font-size;
	line-height: $base-line-height;
	font-weight : 300;
	color: $text-color;
	
	
	@include map-loop($background-color-map)
	{
		&#{$ancestor-selector-prefix }#{$map-loop-current-key}
		{
			background-color : $map-loop-current-val;
		}
	}
}

// h1
// {
	// font-size: $rms4;
	// line-height: $rms5;
	// font-weight: 400;
	// margin-top: $rms1;
// }
h1, h2
{
	font-size: $rms3;
	line-height: $rms4;
	font-weight: 400;
	margin-top: $rms0;
}
h3
{
	font-size: $rms2;
	line-height: $rms3;
	font-weight: 400;
	margin-top: $rms-1;
}
h4
{
	font-size: $rms1;
	line-height: $rms2;
	font-weight: 400;
	margin-top: $rms-2;
}
h5
{
	font-size: $rms0;
	line-height: $rms1;
	font-weight: 400;
}

h6
{
	font-size: $rms-1;
	line-height: $rms0;
	font-weight: 400;
}

h1,h2,h3,h4,h5,h6
{
	em
	{
		font-weight: 300;
		margin-left : 1 / $ms-ratio * 1em;
		display: inline-block;
		font-style : normal;
	}
}

p
{
	padding-top: $rms-3;
	padding-bottom: $rms-3;
}

ol, ul
{
	padding-left : $rms2;
	padding-top: $rms-3;
	padding-bottom: $rms-3;
}

pre
{
	white-space: pre-wrap;
}

small
{
	font-size : 1 / $ms-ratio * 1em;
}

a
{
	color : inherit;
	text-decoration : none;
	outline : none;
	cursor : pointer;
	
	@include ancestor-prop($color-map, color);
	
	&:hover
	{
		@include ancestor-prop($color-map-dark, color);
	}
}
.hide
{
	display:none;
}

.clear 
{
	 @include clearfix;
}
#main-main
{
	opacity : 0;
}


#main-loader
{
	position:fixed;
	top:0;
	height: 4px;	
	z-index: 9999;
	
	@include ancestor-prop($color-map, background-color);
	@include animation(loader 2s ease-in-out infinite);
}

#page 
{
	
}

.region-wrap
{
	// animation : fadein 1s;
}


.section-head, h1
{
	margin-bottom: $rms-1;
}

.group
{
	@include clearfix;
	
	@include flex-medium-up;
}


.main-main
{ 
	margin : $rms1 $rms-2;
	
	@include media($media-medium-up)
	{
		margin : $rms3 $gutter;
	}

	.region-wrap
	{
		@include outer-container();
		
		section
		{
			margin-bottom: $rms1;
			
			@include media($media-medium-up)
			{
				@include flex-grow(1);
				@include flex-shrink(1);
				@include flex-basis(auto);
				margin-bottom: $gutter;
			}
			
			@include media($media-small)
			{
				@include span-columns($cols-small of $cols-small);
				@include omega(1n);
			}
			
			@include media($media-medium)
			{
				@include span-columns($cols-medium / 2);
				@include omega(2n);
				margin-right : $gutter;
			}
			
			@include media($media-large)
			{
				@include span-columns($cols-large / 3);
				@include omega(3n);
				margin-right : $gutter;
			}
			
			
			
			
			@include sharp-shadow();
			background : $body-background-color;
			
			.content
			{
				
				
				height: 100%;
				
				
				padding : $rms-1 $rms-1 $rms1; 
				
				:first-child
				{
					padding-top: 0;
					margin-top : 0;
				}
				
				position : relative;
				
			}
			
			img
			{
				max-width: 100%;
			}
			
		}
	}
	
}

