#main-header
{
	.region-wrap
	{
		text-align: center;
		vertical-align: middle;
		margin: 0 auto;
		max-width: $rms14;
		padding: $rms2;
	}
}



#logo
{
	
	// width: 100%;
	// margin: 0px auto;
	// height: $rms10;
	// padding : $rms0;
	cursor: pointer;
	
	display: inline-block;
	position: relative;
	width: 100%;
	padding-bottom: 33%; 
	 
	vertical-align: middle; /* top | middle | bottom ... do what you want */
	
	
	svg.logo
	{
		@include ancestor-prop($color-map, fill);
		
		height: 100%;
		width: 100%;
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}

}



.route-index
{
	#main-header
	{
		@include position(absolute, null 0 50% 0);
		margin-bottom: 2.5rem;
	}
}

:not(.route-index) #main-header
{
	//transition: all 1s;
}
