#main-nav
{
	.region-wrap
	{
		padding-top: 0;
		position : relative;
		z-index: 100;
	}
	
	.nav
	{
		background : $body-background-color;
		border-bottom : 1px solid $sharp-shadow-color;
		@include ms-font-size(1);
		@include fill-parent();
		
		&.fixed
		{
			position : fixed;
			top: 0;
			left: 0;
			right: 0;
			z-index: 100; 
			box-shadow :0px 0px 10px 3px #999;
			
			// &:after
			// {
				// content : " ";
				// display:block;
				// position : absolute;
				// bottom: 100%;
				// left: 0;
				// right: 0;
				// height: $rms-2;
				// background: $page-background-color;
			// }
		}
	}
	
	ul
	{
		
	
		@include outer-container();
		padding: 0;
	    text-align: center; 
		
		@include media($media-medium-up)
		{
			padding: 0 $gutter;
		}
		
		li
		{
			// @include span-columns($cols-medium / 6);
			// @include shift($cols-medium / 6);
			// :first
			// {
				// @include shift($cols-medium / 6);
			// }
			
			@include media($media-small)
			{
				@include span-columns(3);
				
				&:first-child
				{
					@include shift(1);
				}
			}
			
			@include media($media-medium)
			{
				@include span-columns(2);
				@include shift(1);
				&:first-child
				{
					@include shift(2);
				}
			}
			
			@include media($media-large)
			{
				@include span-columns(2);
				&:first-child
				{
					@include shift(3);
				}
				
			}
			
			
			position:relative;
			top: 1px;
			padding: 0;
			
			
			// ------- active selectors -------------------
			border-bottom-width : 3px;
			border-bottom-style : solid;
			border-bottom-color : transparent;
			
			@include ancestor-selector( $color-map, '.nav__item--')
			{
				border-bottom-color : $ancestor-selector-current-val;
				transition: $color-trans-speed border-bottom-color;
			}	
				
			
			a
			{
				padding: $rms-3 $rms-1;
				display : inline-block;
				width : 100%;
				// @include ancestor-prop($color-map, color);
				outline : none;
				
			}
		}
	}
	
	.fixed-placeholder
	{
		height : 0;
	}
}


.route-index
{
	#main-nav
	{
		@include position(absolute, null 0 50% 0);
		margin-bottom: -1.3rem;
	}
}

