#main-nav
{
	 
	
	ul
	{
		background : $body-background-color;
		border-bottom : 1px solid $sharp-shadow-color;
		@include ms-font-size(1);
	
		@include outer-container();
		padding: 0;
	    text-align: center; 
		
		li
		{
			// @include span-columns($cols-medium / 6);
			// @include shift($cols-medium / 6);
			// :first
			// {
				// @include shift($cols-medium / 6);
			// }
			
			@include media($media-small)
			{
				@include span-columns(3);
				
				&:first-child
				{
					@include shift(1);
				}
			}
			
			@include media($media-medium)
			{
				@include span-columns(2);
				@include shift(1);
				&:first-child
				{
					@include shift(2);
				}
			}
			
			@include media($media-large)
			{
				@include span-columns($cols-large / 6);
				
			}
			
			
			position:relative;
			top: 1px;
			padding: 0;
			
			
			// ------- active selectors -------------------
			border-bottom-width : 3px;
			border-bottom-style : solid;
			border-bottom-color : transparent;
			
			@include ancestor-selector( $color-map, '.nav__item--')
			{
				border-bottom-color : $ancestor-selector-current-val;
			}	
				
			
			a
			{
				padding: $rms-3 $rms-1;
				display : inline-block;
				width : 100%;
				@include ancestor-prop($color-map, color);
				outline : none;
				&:hover
				{
					text-decoration: none;
					border-bottom-width : 1px;
				}
			}
		}
	}
}


.route-index
{
	#main-nav
	{
		@include position(absolute, null 0 50% 0);
		margin-bottom: -1.3rem;
	}
}

